@{
    ViewData["Title"] = "Hem";

}
<h1 class="display-1 text-center">Min Trädgårdsplanering</h1>
<div class="d-grid gap-2 col-6 mx-auto">
    <div class="row row-cols-2">
        <a class="btn" role="button" asp-controller="Plant" asp-action="Create">
            <div class="col">
                <div class="card h-100">
                    <img src="https://static8.depositphotos.com/1037238/818/v/600/depositphotos_8181886-stock-illustration-gardening-woman.jpg" class="card-img-top" alt="..." style="width: 100%">
                    <div class="card-body">
                        <h5 class="card-title">LÄGG TILL</h5>
                        <p class="card-text">Lägg till en ny växt eller blomma</p>
                    </div>
                </div>
            </div>
        </a>

        <a class="btn" role="button" asp-controller="Plant" asp-action="Month">
            <div class="col">
                <div class="card h-100">
                    <img src="https://www.scottishfriendly.co.uk/blog/wp-content/uploads/2018/07/SF_blog_men_women_gardening.png" class="card-img-top" alt="..." style="width: 100%; margin-bottom: 1.4cm">
                    <div class="card-body">
                        <h5 class="card-title">ODLA NU</h5>
                        <p class="card-text">Lista med vad som behöver odlas nu</p>
                    </div>
                </div>
            </div>
        </a>

        <a class="btn" role="button" asp-controller="Plant" asp-action="List">
            <div class="col">
                <div class="card h-100">
                    <img src="https://i.pinimg.com/originals/af/e8/2c/afe82cd831e5958d10cb006444d8e0c3.jpg" class="card-img-top" alt="..." style="width: 100%">
                    <div class="card-body">
                        <h5 class="card-title">ÖVERBLICK</h5>
                        <p class="card-text">Sammlad lista med alla växter</p>
                    </div>
                </div>
            </div>
        </a>

        <a class="btn" role="button" asp-controller="Plant" asp-action="Tips">
            <div class="col">
                <div class="card h-100">
                    <img src="https://media.istockphoto.com/id/1137974374/vector/people-gardening-woman-planting-gardens-flowers-agriculture-gardener-hobby-and-garden-job.jpg?s=170667a&w=0&k=20&c=0PiBEYoVqyF-BfSJksZ7-Q4KMtEzwCUdPa-TmeM405M=" class="card-img-top" alt="..." style="width: 100%">
                    <div class="card-body">
                        <h5 class="card-title">ODLINGSKALENDER</h5>
                        <p class="card-text">Tips för varje månad</p>
                    </div>
                </div>
            </div>
        </a>
   </div>
 </div>
                 

















@*<div class="d-grid gap-2 col-6 mx-auto">
                <div class="row row-cols-2">
                <div class="col">
                <a asp-controller="Plant" asp-action="Create"
                style="height: 200px; width: 200px;
                line-height:200px; margin: 10px;
                background-color: #4c7d4c;
                font-size: 25px"
                class="btn btn-primary" role="button">Lägg in en ny växt eller blomma</a>
                </div>

                <div class="col">
                <a asp-controller="Plant" asp-action="Month"
                style="height: 200px; width: 200px;
                line-height:200px; margin: 10px;
                background-color: #754c7d;
                font-size: 25px"
                class="btn btn-primary" role="button">Så Nu</a>
                </div>

                <div class="col">
                <a asp-controller="Plant" asp-action="List"
                style="height: 200px;
                width: 200px;
                line-height:200px;
                margin: 10px;
                background-color: #4c587d;
                font-size: 25px"
                class="btn btn-primary" role="button">Överblick</a>
                </div>

                <div class="col">
                <a asp-controller="Plant" asp-action="Tips"
                style="height: 200px; width: 200px;
                line-height:200px; margin: 10px;
                background-color: #b5b557;
                font-size: 25px"
                class="btn btn-primary" role="button">Månadens tips</a>
                </div>

                </div>
                </div>*@




