
<h3 class="display-3 text-center">Trädgårdskalendern</h3>
<br />
<div class="row row-cols-3">
    <div class="col">
        <div class="card">
            <img src="https://weibulls.com/media/wysiwyg/januari_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Januari</h5>
                <p class="card-text">Börja planera trädgården, plocka fram extra belysning för växterna och förbereda för förkultivering.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://weibulls.com/media/wysiwyg/februari_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Februari</h5>
                <p class="card-text">Fortsätt mata småfåglarna, förkultivera tidiga sorter som chili och vinterbeskär härdiga fruktträd.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://weibulls.com/media/wysiwyg/mars_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mars</h5>
                <p class="card-text">Börja ge krukväxterna näring, väck knölar för sommarblomning och förodla tomat och luktärt. Skydda även växter mot vårsolens starka strålar.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://weibulls.com/media/wysiwyg/april_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">April</h5>
                <p class="card-text">Äntligen dags att sätta fart på gräsmattan, börja förgro sättpotatis och även börja så vissa sorter på friland. Glöm inte bort att ogräset nu börjar ta fart.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://weibulls.com/media/wysiwyg/maj_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Maj</h5>
                <p class="card-text">Så nyttiga bönor när jordtemperaturen når 10 grader, håll koll på sniglarna och beskär dina rosor när björkarna börjat bli gröna. Nu kan du börja så på friland.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://weibulls.com/media/wysiwyg/juni_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Juni</h5>
                <p class="card-text">Dags att kupa potatisen, så sallat i omgångar och vattna mycket men sällan, gärna med regnvatten som du skördar på något smart sätt. Var noga med gräsklippningen.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://weibulls.com/media/wysiwyg/juli.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Juli</h5>
                <p class="card-text">Motverka uttorkning, så gröngödsling för att förbättra jorden och så sena sorter som Pak Choy och Rättika.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://weibulls.com/media/wysiwyg/augusti1_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Augusti</h5>
                <p class="card-text">Plantera perenner, samla fröer att så nästa år, höstgödsla och beskär känsliga buskar och träd.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://weibulls.com/media/wysiwyg/september.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">September</h5>
                <p class="card-text">Plantera vårlökar, skörda grönsaker och frukt, så nytt gräs och gräv upp Dahliaknölar.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://weibulls.com/media/wysiwyg/oktober_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Oktober</h5>
                <p class="card-text">Plantera vitlök, vinterförvara känsliga växter, klipp gräset en sista gång innan vintervilan och städa växthuset.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://weibulls.com/media/wysiwyg/november_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">November</h5>
                <p class="card-text">Ta hand om dina redskap och krukor, bädda rabatter och pallkragar med löv och kupa dina rosor.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://weibulls.com/media/wysiwyg/december.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">December</h5>
                <p class="card-text">Skapa julstämning i trädgården, var snäll mot småfåglarna och lys upp utomhus.</p>
            </div>
        </div>
    </div>
</div>

